<h1>Public::Customers#edit</h1>
<p>Find me in app/views/public/customers/edit.html.erb</p>

<%= render 'layouts/errors', obj: @customer %>

<%= render 'shared/customer_edit', customer: @customer %>

<%= link_to "退会", customers_unsubscribe_path %>
