<% provide(:title, "会員情報編集") %>
<div class="container">
  <div class="row mx-auto">
    <p class="h4 mt-4 mb-5">会員情報編集</p>
  </div>
  <%= render 'shared/customer_edit', customer: @customer, path: customers_path %>
</div>