<% provide(:title, "アバウトページ") %>
<div style = "text-align: center">
	<h1 style>長野県にある小さな洋菓子店「ながのCAKE」</h1>
	
	<p>昨年始めたInstagramからお客様が増え<br>
	全国から注文が来るようになりましたので通販サイトを作らせて頂きました。</p>
	〒111-1111 長野県長野市
</div>