<h1>Admin::Customers#show</h1>
<p>Find me in app/views/admin/customers/show.html.erb</p>

<%= render 'shared/customer_show', customer: @customer %>

<%= link_to "編集", edit_admin_customer_path(@customer.id), class: "btn" %>
<%= link_to "注文履歴", admin_root_path, class: "btn" %>
