<div class="container">

  <h4>注文詳細画面</h4>
  <!--注文者情報-->
  <P>購入者</P>
  <%= @order.name %>
  <P>配送先</P>
  <P>支払い方法</P>
  <P>注文ステータス</P>
  ーーーーーーーーーーーー
  <!--注文商品-->
  <P>商品名前</P>
  <P>商品画像</P>
  <P>お金</P>
  <p>商品状況</p>

</div>