<div class="container">
  <h4>注文の一覧</h4>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>注文日</th>
            <th>注文者</th>
            <th>状況</th>
            <th>詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
              <td>
                <% order.customer.last_name %> <%= order.customer.first_name %>
              </td>
              <td><%= order.status %></td>
              <td>
                <%= link_to '表示する',admin_order_path(order), class: "btn btn-warning" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>