<div class="container">
  <div class="row mx-auto">
    <p class="h4 mt-4 mb-5">配送先編集</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-5 mx-auto">
        <% if @address.errors.any? %>
            <div id="error_explanation">
              <h3>入力内容を確認して下さい</h3>
            </div>
          <% end %>
        <%= render 'public/addresses/form', address: @address %>
      </div>
    </div>
  </div>
</div>