<div class="container">
  <h1>注文履歴</h1>
  
  <% @orders.each do |order| %>
  <div class="row border border-secondary">
    <div class="col-3">
      <h4>注文商品</h4>
      <p>商品名</p>
      <P>商品画像</P>
      <p>商品値段（税込）</p>
      <p>個数</p>
      <p>商品合計</p>
    </div>

    <div class="col-8">
      <h4>配送先</h4>
      <p>宛先:<%= order.name %></p>
      <p>郵便番号:<%= order.postal_code %></p>
      <p>住所:<%= order.address %></p>
      <%= link_to '表示する', order_path(order), class: "btn btn-sm btn-danger" %>
    </div>
  </div>
  <% end %>

</div>

